*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* comune */
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 60%;
	margin: auto;
}


/* Header */

.intestazione{
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 30px 0;
}
.logo-img{
    height: 70px;
}


/* Corpo */
ul#menu li {
    float: left;
    list-style: none;
    padding: 0 2px;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: grey;
}
nav{
    margin-bottom: 30px;
}
.box1{
    height: 450px;
    background-image: url(../img/banner.jpg);
    margin-bottom: 20px;
    background-position: center center;
    position: relative;
    overflow: hidden;
}
.overlay {
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.didascalia{
    width: 70%;
    padding: 50px 70px;
    position: absolute;
    bottom: 0;
}
#titolo-didasc,#testo-didasc{
    color: #ffffff;
}

.box2{
    background-color: #0187fc;
    height: 600px;
}
.box2 > div{
    background-color: #abcfe7;
}
.barra-centrale{
    height: 80px;
    background-color: #abcfe7;

}

.col-sinistra,.col-centrale,.col-destra{
    float: left;
    height: calc(100% - 40px);
}

.col-sinistra, .col-destra{
	width: 20%;
    margin: 20px 0;
}

.col-centrale{
    width: calc(60% - 40px);
	margin: 20px 20px;
}
/* footer */
footer{
    height: 60px;
    background-color: #8801fd;
    margin: 20px 0;
}